html, body, .container-fluid, #photogrammatron, #photogrammatron > div {
    height: 100%;
}

#image-workspace {
    border	: 1px solid black;
    height	: 800px;
    width 	: 650px;
    overflow: hidden;
    position: relative;
}

#image-wrapper {
	position: absolute;
}

.navbar {
    margin-bottom: 0px;
}

#selection {
	position: absolute;
	border  : 1px dashed #000;
}

#text-wrapper {
    position: absolute;
}
