html, body, .container-fluid, #photogrammatron, #photogrammatron > div {
    height: 100%;
}

#image-workspace {
    border: 1px solid black;
    height: 800px;
    width: 650px;
    overflow: hidden;
}

#image-wrapper {
	position: relative;
}

.navbar {
    margin-bottom: 0px;
}

#selection {
	position: absolute;
	border: 1px dashed #000;
}



