<nav class="navbar navbar-inverse" style="background: #800000 !important">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i class="fa fa-camera"></i>
            Photogrammatron
            </a>
        </div>
        <button id="modal-button" type="button" class="btn btn-default btn-sm nav navbar-nav navbar-right" data-toggle="modal" data-target="#fbModal">Upload Photo to Facebook</button>
        <div id="fbModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center">Confirm upload to Facebook</h4>
              </div>
              <div class="modal-body" style="text-align: center">
                <p>Clicking below will upload your photo to Facebook</p>
                <p><img id="image-preview" src=""></p>
                <form id="fb-msg" enctype="multipart/form-data">
                    <textarea id="fb-textarea" placeholder="facebook message content..." ></textarea>
                </form>
              </div>
              <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Upload</button>!-->
                    <%= form_tag uploads_path, id: 'upload-form', enctype: 'multipart/form-data' do %>
                        <button id="fb-submit" class="btn btn-default" data-dismiss="modal" >Upload Photo to Facebook
                        </button>
                    <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="nav navbar-nav navbar-right" style="padding: 15px 10px 10px 10px">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
            <div id="status">
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="photogrammatron" class="row">
        <div id="left-panel" class="col-xs-3 well">
            <h3>Select File</h3>
            <form id="add-image">
                <div class="btn btn-default btn-file form-group">
                    <input title="Choose Photo" type="file" id="image-upload" name="image-upload" data-toggle="tooltip" data-placement="right" /><i class="fa fa-file-image-o"></i> Choose photo file...
                </div>
                <div id="Save">
                    <input id="filename" type="text" placeholder="save file as..." />
            <a title="save" class="btn btn-default" id="save" name="save" download="download.png" data-toggle="tooltip" data-placement="right"><i class="fa fa-save"></i></a>
                </div>
            </form>
        </div>
        <div class="jumbotron col-xs-6" style="background: #696969">
            <div id="image-workspace">
                <div id="image-wrapper">
                    <img id="image" style="z-index 1" >
                </div>
            </div>
        </div>
        <div id="right-panel" class="col-xs-3 well">
            <p><button title="Rectangular Selector" class="btn btn-danger rectangular-selector" value="OFF" data-toggle="tooltip" data-placement="right"><i class="fa fa-pencil-square-o"></i></button></p>
            <p><button title="Crop" class="btn btn-default" id="crop-image" data-toggle="tooltip" data-placement="right"><i class="fa fa-crop"></i></button></p>
            <p><button title="Rotate Clockwise" class="btn btn-default" id="clockwise" data-toggle="tooltip" data-placement="left"><i class="fa fa-rotate-right"></i></button>
            <button title="Rotate Counter-Clockwise" class="btn btn-default" id="counter-clockwise" data-toggle="tooltip" data-placement="right"><i class="fa fa-rotate-left"></i></button></p>
            <p><button title="Zoom-In" class="btn btn-danger" id="zoom-in" value="OFF" data-toggle="tooltip" data-placement="left"><i class="fa fa-search-plus"></i></button>
            <button title="Zoom-Out" class="btn btn-danger" id="zoom-out" value="OFF" data-toggle="tooltip" data-placement="right"><i class="fa fa-search-minus"></i></button></p>
            <p><button title="Navigate" class="btn btn-danger" id="nav" value="OFF" data-toggle="tooltip" data-placement="right"><i class="fa fa-arrows"></i></button></p>
            <p><button class="btn btn-default" data-toggle="collapse" data-target="#add-paint" rel="tooltip" data-placement="right"><i class="fa fa-paint-brush"></i> Open/Close Paint Tools</button></p>
                <div id="add-paint" class="collapse" style="border: 1px solid black">
                    <p><button title="Paint" class="btn btn-danger" id="paint" value="OFF" data-toggle="tooltip" data-placement="right"><i class="fa fa-paint-brush"></i>Start Painting</button></p>
                    <p>Paint Size: <input type="text" id="line-size" value="5" /> </p>
                    <p>Paint Color: <input type="color" id="paint-color"></p>
                </div>
            <p><button class="btn btn-default" data-toggle="collapse" data-target="#add-text">Open/Close Text Tools</button></p>
                <div id="add-text" class="collapse" style="border: 1px solid black">
                    <button title="Rectangular Selector" class="btn btn-danger rectangular-selector" value="OFF" id="rectangular-selector"><i class="fa fa-pencil-square-o"></i> Select a text area</button>
                    <p><button title="Add Text" class="btn btn-default" id="text" data-toggle="tooltip" data-placement="right">Add Text</button>         
                    <form><input type="text" id="text-content" placeholder="enter text here..." /></form></p>
                    <p>Text Font: <select id="font-style" class="input">
                        <option value="Arial" selected="selected">Arial</option>
                        <option value="Courier">Courier</option>
                        <option value="Helvetica">Helvetica</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Verdana">Verdana</option>
                    </select></p>
                    <p>Text Size: <input type="text" id="text-size" value="12" /></p>
                    <p>Text Color: <input type="color" id="text-color"></p>
                </div>
            <p><button class="btn btn-default" data-toggle="collapse" data-target="#add-filters"><i class="fa fa-adjust"></i> Open/Close Filters</button></p>
                <div id="add-filters" class="collapse">
                    <p><button title="Grayscale" class="btn btn-default" id="grayscale" data-toggle="tooltip" data-placement="right">Grayscale</button></p>
                    <p><button title="Sepia" class="btn btn-default" id="sepia" data-toggle="tooltip" data-placement="right">Sepia</button></p>
                    <p><button class="btn btn-default" id="bright-dropdown" data-toggle="collapse" data-target="#bright-slider"><i class="fa fa-adjust"></i> Adjust Brightness</button></p>
                        <div id="bright-slider" class="collapse">
                            <p><input type="range" title="Brightness" value="0" min="-100" max="100" id="brightness" /></p>
                            <p><button title="Apply Brightness" class="btn btn-default" id="apply-bright" data-toggle="collapse" data-target="#bright-slider">Apply Brightness</button></p>
                        </div>
                    <p><button class="btn btn-default" id="contrast-dropdown" data-toggle="collapse" data-target="#contrast-slider"><i class="fa fa-adjust"></i>Adjust Contrast</button></p>
                        <div id="contrast-slider" class="collapse">
                            <p><input type="range" title="Contrast" value="0" min="-100" max="100" id="contrast" /></p>
                            <p><button title="Apply Contrast" class="btn btn-default" id="apply-contrast" data-toggle="collapse" data-target="#contrast-slider" data-placement="right">Apply Contrast</button></p>
                        </div>
                </div>
            <p><button title="Undo" class="btn btn-default" id="undo" data-toggle="tooltip" data-placement="left">Undo</button> 
            <button title="Redo" class="btn btn-default" id="redo" data-toggle="tooltip" data-placement="right">Redo</button></p>
        </div>
    </div>
</div>
<a href="/static/privacy_policy" target="_blank">Privacy Policy</a>

