html, body, .container-fluid, #photogrammatron, #photogrammatron > div {
    height: 100%;
}

#image-workspace {
    border	: 1px solid black;
    margin  : auto;
    height	: 750px;
    width 	: 700px;
    overflow: hidden;
    position: relative;
    background-color: white;
}

#image-wrapper {
	position: absolute;
}

.navbar {
    margin-bottom: 0px;
}

.navbar.li {
    display: inline;
}

#paint-layer {
    position: absolute;
    top     : 0px;
    left    : 0px;
}

#selection {
	position: absolute;
	border  : 1px dashed #000;
}

#text-wrapper {
    position: absolute;
}

.btn {
    background: #800000;
    color: white;
    border: none;
    border-radius: 24px;
    box-shadow: 0 3px 0 0;
    text-shadow: none;
}
.btn:hover, .btn:focus {
  background: #8FBC8F;
  color: black;
}
.btn:active {
  background: #8FBC8F;
  color: black;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#modal-button {
    background-color: gray; 
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 0 0;
}

.collapse {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

input {
    border-radius: 20px;
}

#status {
    color: gray;
}

#image-preview {
    max-height: 100px;
    
}
